html{
    background-color: white;
    color: white;
    max-height: 100vh;
    height: 100vh;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    
}


body{
    display: flex;
    overflow: hidden;
    
 }

 #teste{
        height: 100vh;
        width: 100vw;
    
    
    
 }
 